/* Default Light Mode */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

button.dark-mode {
    background-color: #333;
    color: white;
}
